body {
  color: #333;
  font: 18px/200% "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 2em 0;
}

a, h1, h2 {
  color: #000;
  font-weight: 600;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a.box {
  display: block;
  padding: 1em;
  float: left;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
}

a.box:hover { border-color: #ccc; }

a.box img {
  width: 210px;
  height: 210px;
}

p, h1, h2, dl {
  clear: left;
  margin: 9px auto;
  max-width:1000px;
}

h1, h2 {
  font-size: 125%;
  padding-top: 1em;
}

dt {
  width: 150px;
  clear: left;
  float: left;
}
